.service-area {
  padding-top: 60px;
  padding-bottom: 50px;
  margin-top: 5px;
  background-color: #fafafa;
}
.service-area .heading-divider2 {
  display: block;
  width: 75px;
  height: 3px;
  margin-top: 19px;
  margin-bottom: 21px;
  background-color: #0ec6d5;
}

.btn.btn-theme {
  background-color: #7952b3;
  border: 1px solid #7952b3;
  color: #fff;
  min-width: 120px;
}
