.blog-area {
  padding: 20px 0;
}
.blog-area .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.blog-area .col-lg-8 {
  padding-right: 15px;
  padding-left: 15px;
}
.blog-area .ca1 {
  margin-bottom: 100px;
}
.blog-area .boder-bottom {
  border: 1px solid #eee !important;
}

/* Sidebar */
.blog-area .col-lg-4 {
  position: relative;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 0px;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.blog-area .primary-sidebar-inner {
  position: sticky;
  width: 305.656px;
  left: 668.328px;
  bottom: 0px;
  top: auto;
}
.blog-area .card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: all 0.2s;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.blog-area .card-body {
  flex: 1 1 auto;
  min-height: 1px;
  word-wrap: break-word;
  width: 306px;
  background-color: #ffffff;
  border: 1px solid #eee;
}
.sticky-spacer {
  height: 1470px;
  inset: auto;
  position: static;
  display: block;
  box-sizing: border-box;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  float: none;
  width: 306px;
  z-index: -1;
}
.blog-area .card-body ul li {
  margin: 5px 0;
}
.blog-area .card-body ul li a {
  padding: 0px 0px;
}
.blog-area .pos-fixed-center-right {
  top: 50%;
  left: auto;
  right: 0;
  transform: translateY(-50%);
}

.blog-area .list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 3px;
  box-sizing: border-box;
}
.blog-area .list-group-item {
  background-color: #fff;
  border: none !important;
  color: #696969 !important;
}
.text-body a {
  color: #696969;
  transition: all.2s;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  flex: 1 1 auto;
  min-height: 1px;
  word-wrap: break-word;
}
.list-group-item a {
  border: none;
  text-decoration: none;
}
/* categaroies */
.form-control-lg {
  height: calc(2em + 1.25rem + 4px);
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
  line-height: 2;
  border-radius: 3px;
}
.ip1 {
  border: none;
}
.form-control {
  display: block;
  width: 100%;
  font-weight: 600;
  color: #696969;
  background-color: #f8f8f8;
  background-clip: padding-box;
}
/* latest posts */

.media {
  display: flex;
  align-items: flex-start;
}
.media-body .text-dark {
  font-size: 15px;
}
.bg-image {
  background-image: url(../../images/post-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-image2 {
  background-image: url(../../images/post-04.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-image3 {
  background-image: url(../../images/post-07.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-image1 {
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.87px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
}
/* Download */
.text-p {
  color: #0ec6d5;
}

.list-inline a {
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  .blog-area {
    padding: 10px 0;
  }
  .sticky-spacer {
    height: 1265px;
  }
}
@media only screen and (max-width: 992px) {
  .blog-area .col-lg-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  #sidebar.sidebar-mobile-hide {
    display: none;
  }
  #sidebar {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .blog-area {
    padding: 20px 0;
    background-color: #fafafa;
  }
  .blog-area .card1 {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 425px) {
  .blog-area {
    padding: 15px 0;
  }
}
