.bg-patten {
  padding: 65px 0;
  background-image: url(../../images/pattern-01.png),
    url(../../images/pattern-02.png);
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
}
.bg-secondery {
  background-color: #1e1d85 !important;
  padding: 60px 0;
}
.text3 {
  font-size: 30px;
  max-width: 589px;
  margin: 0 auto;
  line-height: 1.625 !important;
}

.heading-divider {
  display: block;
  width: 75px;
  height: 3px;
  margin-top: 19px;
  margin-bottom: 21px;
  background-color: #0ec6d5;
}

/* card */

.card {
  text-decoration: none;
  align-items: center;
  border: none !important;
  justify-content: center;
  background-color: transparent !important;
  background-clip: border-box;
}

.card-img-top {
  justify-content: center !important;
  align-items: center !important;
  background-color: transparent !important;
}
/* @media only screen and (max-width: 768px) {
} */
