.button-text2 Button {
  background-color: #0ec6d5;
  border-color: #0ec6d5;
  color: #fff;
  display: block;
  margin-top: 40px;
  box-shadow: none;
}
.button-text2 Button:hover {
  background-color: transparent;
  color: #b03737;
}
