.contact-area {
  padding: 60px 0;
  background-color: #fafafa;
}

.text-name h5 {
  font-size: 15px;
}

@media only screen and (max-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}
