.blog-section {
  padding-bottom: 25px;
}
.blog1 {
  padding: 60px 0;
}
@media only screen and (max-width: 425px) {
  .blog-area {
    padding: 30px 0px;
  }
}
@media only screen and (max-width: 425px) {
  .blog1 {
    padding: 40px 0;
  }
}
