.section-heading {
  text-align: center;
  align-items: center;
  padding: 20px 0;
}

.section-heading h3 {
  font-size: 32px;
  text-align: center;
}

@media (min-width: 767px) {
  .section-heading h3 {
    font-size: 25px;
  }
}
